In [12]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('BitcoinHeistData.csv')

In [4]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
year,2916697.0,2.014475e+03,2.257398e+00,2.011000e+03,2.013000e+03,2.014000e+03,2.016000e+03,2.018000e+03
day,2916697.0,1.814572e+02,1.040118e+02,1.000000e+00,9.200000e+01,1.810000e+02,2.710000e+02,3.650000e+02
length,2916697.0,4.500859e+01,5.898236e+01,0.000000e+00,2.000000e+00,8.000000e+00,1.080000e+02,1.440000e+02
weight,2916697.0,5.455192e-01,3.674255e+00,3.606469e-94,2.148438e-02,2.500000e-01,8.819482e-01,1.943749e+03
count,2916697.0,7.216446e+02,1.689676e+03,1.000000e+00,1.000000e+00,1.000000e+00,5.600000e+01,1.449700e+04
looped,2916697.0,2.385067e+02,9.663217e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.449600e+04
neighbors,2916697.0,2.206516e+00,1.791877e+01,1.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00,1.292000e+04
income,2916697.0,4.464889e+09,1.626860e+11,3.000000e+07,7.428559e+07,1.999985e+08,9.940000e+08,4.996440e+13

In [42]:
def standard_normalize(arr):
    '''
    Input: arr (numpy array) : a numpy array of numeric values
    Return Value: normalized_arr : the standard normalized numpy array of given input 'arr'
    '''
    
    mean = np.mean(arr)
    std = np.std(arr)    
    normalized_arr = (arr - mean)/std
    
    return normalized_arr

# extracting only the income attribute from the pandas dataframe of the given dataset
income = np.array(df.income[:200])

# calling standard_normalize function with income attribute values as the parameter
normalized_income = standard_normalize(income)

In [44]:
pd.Series(normalized_income).describe()

count    2.000000e+02
mean     1.135203e-16
std      1.002509e+00
min     -9.731697e-01
25%     -6.493344e-01
50%     -2.797936e-01
75%      3.366907e-01
max      5.196273e+00
dtype: float64